.contenedor {
  width: 1180px;
  margin: 0px auto;
}

header {
}

header .logo {
  display: block;
  margin: 0px auto;
  width: 140px;
}

header .logo img {
  border-radius: 50%;
}

nav {
  margin: 25px 0;
}

nav ul {}

nav ul li {
  display: inline-block;
}

nav ul li a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  background: #ccc;
  display: block;
  width: 232px;
  margin-right: 5px;
  text-align: center;
  font-size: 14px;
  padding: 13px 0;
}

nav ul li:last-child a {
  margin-right: 0;
}

nav ul li a:hover {
  background: #333;
  color: white;
}

.banner {
  position: relative;
  height: 376px;
  margin-bottom: 25px
}

.banner img {
  position: absolute;
}

.banner .promo_esquina {
  position: absolute;
  top: -3px;
  right: -3px;
}

.banner .promo {
  position: absolute;
  bottom: 40px;
  left: 40px;
  width: 343px;
  background: rgba(0,0,0, 0.8);
  font-size: 24px;
  text-align: center;
  color: white;
  padding: 20px 0;
}

.columnas {
  margin-bottom: 30px;
  overflow: hidden;
}

.columna {
  width: 360px;
  float: left;
}

.columna:nth-child(2n) {
  margin-right: 50px;
  margin-left: 50px
}

.columna h2 {
  margin-top: 10px;
  font-size: 24px;
  margin-bottom: 10px;
}

footer {
  background: #ccc;
  clear: both;
}

footer .contenedor {
  position: relative;
  height: 100px;
}

footer .copy {
  position: absolute;
  left: 0;
  top: 42px;
}

footer .social {
  position: absolute;
  right: 0;
  top: 38px;
}

footer .social li {
  display: inline-block;
  width: 36px;
  height: 36px;
  margin-left: 10px;
}
