@media (min-width: 768px) {
   

    /*nav*/

    nav ul  {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    nav ul li {
     
      width: 20%;
    }

    /*banner*/
    .banner {
      display: block;
      position: relative;
    }
    .banner .img-banner {
      width: 100%;
    }
    .banner .promo_esquina {
      display: none;
    }
    .banner .promo {
      position: absolute;
      bottom: 10px;
      display: block;
      width: 250px;
      color: white;
      padding: 15px;
      background: #333;
      text-align: center;
    }



    /*columnas*/

  .columnas {
    display: flex;
    justify-content: space-between;

  }
  .columnas .columna {
    width: 360px;
  }
  .columnas .columna:nth-child(odd) {
   
  }
  .columnas .columna:nth-child(even) {
 
  }

  /*form*/
  .form_reserva {
    
  }


  footer .contenedor {
   display: flex;
   justify-content: space-between;
   width: 100%;
   align-items: center;

  }

  footer .copy {

  }
  footer .social {

  }
  footer .social li {
    width: 36px;
    margin-left: 10px;
  }

}
