@media (min-width: 768px) {
      /*NAV*/
.contenedor {
  width: 680px;
}

.banner .marca {
  top: 0px;
}

.banner h1 {
  font-size: 128px;
}

.banner h2 {
  font-size: 40px;
}

nav ul  {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

nav ul li {
  width: 20%;
}

nav ul li .nave {
  font-size: 15px;
}

/*BANNER*/
.banner {
  display: block;
  position: relative;
}

.banner .img-banner {
  width: 100%;
}

/*BANNERS 2 y 3*/

.banners {
  flex-direction: row;
}

.banners img {
  width: 340px;
  height: 227px;
}

.banner3 img {
  margin-bottom: 4px;
}

.banner2 .complex {
  right: 65px;
  bottom: 40px;
  font-size: 20px;
}

.banner3 .simple {
  right: 40px;
  bottom: 45px;
  font-size: 20px;
}

.banner4 {
  display: none;
}

/*ELEGI*/
.elegi h1 {
  font-size: 50px;
  font-weight: 300;
  margin-bottom: 20px;
  margin-top: 10px;
}

.columna img {
  height: 224px;
  width: 224px;
}

.columnas {
  display: flex;
  justify-content: center;
}

.columnas .columna {
  width: 360px;
}

.columna:first-child {
  padding-right: 0;
}

.columnas:last-child {
  padding-right: 10px;
}

.columnas .columna .contenido {
  width: 500px;
  margin-left: -10px;
}

.columna h2 {
  margin: 12px 0;
  font-weight: 700;
  font-size: 25px;
  margin-top: 20px;
  padding-bottom: 10px;
}

.columna p {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 300;
  margin-top: 10px;
}

.columna  hr {
  width: 120px;
  position: absolute;
  height: 1px;
  border: 0;
  background-color: black;
  margin-top: 5px;
}

.columna .anadir {
  margin-top: 5px;
}

.columna .descripcion {
  display: none;
}

.columna .anadir {
  width: 88px;
  font-size: 20px;
  margin-top: 10px;
}

.columna .info {
  width: 66px;
  text-align: center;
  color: black;
  display: flex;
  align-content: center;
  justify-content: center;
  font-size: 18px;
  font-style: italic;
  margin-top: 20px;
  margin-left: -12px;
}

.columnas .columna:nth-child(1) {
  margin-right: 30px;
}

.columnas .columna:nth-child(2) {
  margin-right: 30px;
}

/*FOOTER TABLET*/
footer {
  margin-top: 10px;
  width: 680px;
}

footer .contenedor {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

footer .social {}

footer .social li {
  width: 36px;
  margin-left: 10px;
}

/*REGISTER TABLET*/
.contenedor-register {
    width: 680px;
}
.cuerpo-register{
  width: 500px;
  margin-bottom: -13px;
}

.watch-singin {
    width: 100%;
}

.seccion-formulario-register{
  width: 550px;
}

.seccion-formulario-register p{
  text-align: center;
  width: 100%;
}

.seccion-formulario-register .registrarme{
  font-size: 20px;
}

.formulario-register{
  width:500px;
}

/*SING IN TABLET*/
.contenedor-signin {
  width: 680px;
}

.seccion-formulario-singin {
  margin-left: 25px;
}

.cuerpo-singin{
  width: 680px;
}

.formulario-signin{
  width: 500px;
}

.watch-singin {
  width: 100%;
}

.olvidar {
  margin-right: 50px;
  top: 10px;
}

.watch-singin {
  width: 100%;
}

.ingresar h2 {
  margin-right: 50px;
}

/*FAQS TABLET*/
.faqs {
  width: 800px;
}

.faqs h1 {
  font-weight: 700;
  font-size: 25px;
  left: 5px;
  margin-bottom: 20px;
  margin-top: 25px;
  width: 680px;
  text-align: center;
}

.faqs ul {
  display: block;
}

.faqs ul li {
  margin-left: 80px;
}

.faqs ul li h3 {
  padding: 5px 0;
  left: 80px;
  font-size: 14px;
  font-weight: 700;
  width: 130%;
}

.faqs ul li p {
  left: 110px;
  font-size: 12px;
  margin-bottom: 10px;
  line-height: 11.5px;
	width: 130%;
}

.faqs div ul:last-child li:last-child p:last-child {
	margin-bottom: 15px;
}


/*Formulario*/
.form1 {
  width: 100%;
  font-size: 12px;
  font-weight: 200;
  font-style: normal;
  line-height: 20px;
  opacity: 0.85;
  border: 2px solid #f1f1f1;
  border-radius: 3px;
  margin-bottom: 10px;
  padding-left: 8px;
}
}
